<div class="mt-3">
    <mat-card>
        <div class="post-newer">

            <div class="post-new">
                <div class="d-flex">
                    <div class="post-new-media-user mr-5">
                        <img src="assets/images/avatars/avatar-2.jpg" alt="">
                    </div>
                    <div class="post-new-input">
                        <input type="text" class="uk-input" placeholder="What's Your Mind ? Hamse!">
                    </div>
                </div>
                <hr>
                <div class="post-new-type">

                    <a href="#">
                        <img src="assets/images/icons/photo.png" alt=""> Photo/Video
                    </a>

                    <!-- <a href="#" class="uk-visible@s">
                        <img src="assets/images/icons/tag-friend.png" alt=""> Tag Friend
                    </a>

                    <a href="#"><img src="assets/images/icons/reactions_wow.png" alt=""> Fealing /Activity
                    </a> -->

                </div>
            </div>



        </div>
    </mat-card>
</div>

<div class="mt-3 ">
    <mat-card>
        <div class="post">
            <div class="post-heading d-flex">
                <div class="post-avature">
                    <img src="assets/images/avatars/avatar-6.jpg" alt="">
                </div>
                <div class="post-title">
                    <h4> Mariah Ali </h4>
                    <p> 5 <span> hrs</span>
                        <!-- <i class="uil-users-alt"></i>  -->
                    </p>
                </div>
                <div class="post-btn-action">
                    <!-- <span class="icon-more uil-ellipsis-h" aria-expanded="false">9</span> -->
                    <span class="material-icons">
                        more_horiz
                        </span>
                </div>
            </div>
            <div class="post-description mt-2">
                <div class="fullsizeimg">
                    <img src="assets/images/post/img-1.jpg" alt="">
                </div>

                <div class="post-state-details d-flex">
                    <div class="d-flex">
                        <img src="assets/images/icons/reactions_like.png" alt="">
                        <img src="assets/images/icons/reactions_love.png" alt="">
                        <p> 13 </p>
                    </div>
                    <p> 24 Comments</p>
                </div>

            </div>

            <div class="post-state">
                <div class="post-state-btns"> <i class="material-icons">thumb_up_alt</i> 126<span> Liked </span>
                </div>
                <div class="post-state-btns"> <i class="material-icons">favorite_border</i> 18 <span> Coments</span>
                </div>
                <div class="post-state-btns"> <i class="material-icons">share</i> 193 <span> Shared </span>
                </div>

            </div>

            <!-- post comments -->
            <div class="post-comments mt-2">
                <a href="#" class="view-more-comment"> Veiw 8 more Comments</a>
                <div class="post-comments-single d-flex">
                    <div class="post-comment-avatar">
                        <img src="assets/images/avatars/avatar-5.jpg" alt="">
                    </div>
                    <div class="post-comment-text">
                        <div class="post-comment-text-inner">
                            <h6> Alex Dolgove</h6>
                            <p> Ut wisi enim ad minim laoreet dolore magna aliquam erat </p>
                        </div>
                        <div class="uk-text-small">
                            <a href="#" class="text-danger mr-1"> <i class="uil-heart"></i> Love </a>
                            <a href="#" class=" mr-1"> Replay </a>
                            <span> 1d</span>
                        </div>
                    </div>
                    <span class="material-icons">
                        more_horiz
                        </span>
                    <!-- <a href="#" class="post-comment-opt">8</a> -->
                </div>


                <a href="#" class="view-more-comment"> Veiw 8 more Comments</a>

                <div class="post-add-comment d-flex">
                    <div class="post-add-comment-avature">
                        <img src="assets/images/avatars/avatar-2.jpg" alt="">
                    </div>
                    <div class="post-add-comment-text-area">
                        <input type="text" placeholder="Write your comment...">
                        <div class="icons">
                            <span class="uil-link-alt"></span>
                            <span class="uil-grin"></span>
                            <span class="uil-image"></span>
                        </div>
                    </div>

                </div>

            </div>



        </div>
    </mat-card>
</div>