<div class="mt-5">
    <mat-card>
        <div class="post-newer">

            <div class="post-new">
                <div class="d-flex">
                    <div class="post-new-media-user mr-5">
                        <img src="assets/images/avatars/avatar-2.jpg" alt="">
                    </div>
                    <div class="post-new-input">
                        <input type="text" class="uk-input" placeholder="What's Your Mind ? Hamse!">
                    </div>
                </div>
                <hr>
                <div class="post-new-type">

                    <a href="#">
                        <img src="assets/images/icons/photo.png" alt=""> Photo/Video
                    </a>

                    <a href="#" class="uk-visible@s">
                        <img src="assets/images/icons/tag-friend.png" alt=""> Tag Friend
                    </a>

                    <a href="#"><img src="assets/images/icons/reactions_wow.png" alt=""> Fealing /Activity
                    </a>

                </div>
            </div>



        </div>
    </mat-card>
</div>

<div class="mt-5">
    <mat-card>

    </mat-card>
</div>